@charset 'utf-8';
:root {
  cursor: url(../common/cursor3.png), auto;
}

a {
  cursor: pointer;
  cursor: url(../common/pointer.png), pointer;
}

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

.container {
}

body {
  overflow-x: hidden;
  color: #1d1d1f;
  /* color: rgb(29, 29, 31); */
  letter-spacing: -0.05em;
  background: #1d1d1f;
}

p {
  line-height: 1.6;
}

a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

.local-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  padding: 0 1rem;
  font-family: arponasans, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.local-nav,
.local-nav a {
  color: #404040;
  text-shadow: 2px 2px 4px #000000, -2px -2px 4px rgba(90, 86, 109, 0.4);
}

.local-nav-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  max-width: 1700px;
  height: 100%;
  margin: 0 auto;
}

.link-wrap {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-between;
}

/* 현재 위치  */
.link-wrap .works {
  color: #a1a1a1;
}

.link-wrap .students {
  color: #404040;
}

.link-wrap .about {
  color: #404040;
}
/* //현재 위치//  */

.local-nav-links {
  padding-top: 0.4rem;
}

.local-nav-links a {
  font-size: 1rem;
}

.local-nav-links a:hover {
  color: #a1a1a1;
}

.local-nav-links .product-name a {
  font-size: 1.5rem;
  color: #a1a1a1;
}

.local-nav-links .sub-title {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  text-align: right;
  font-size: 0.8rem;
  padding-top: 0.3rem;
}
/* nav fin  */

#section01 {
  padding-top: 6rem;
  height: 1080px;
  max-width: 1700px;
  height: 100%;
  margin: 0 auto;
}

.image-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.image-box {
  border: solid #1d1d1f 2px;
  background: #1d1d1f;
}

.fixed-bx {
}

/* work02 */

.local-nav,
#section02,
.footer {
  z-index: 20;
}

#section02 {
  font-family: "Noto Sans KR", sans-serif;
  max-width: 1000px;
  margin: 5rem auto 0;
  height: 100%;
}

.fixed-bg {
  position: fixed;
  padding-top: 6rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.grid-wrap {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  padding: 0 1rem;
  color: #eeeeee;
  background-color: #1d1d1f;
  height: 100%;
}

.grid-name {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  height: 8rem;
}

.grid-name > h1 {
  font-size: 2rem;
}

.grid-name > h2 {
  padding-top: 0.4rem;
  font-size: 1.4rem;
}

.grid-info {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.info-wrap {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.bold {
  font-weight: 900;
}

.info-wrap > div {
  border-top: 1px solid #eeeeee;
  padding: 0.2rem 0.4rem 0.8rem 0.4rem;
  line-height: 1.5rem;
}

.grid-text {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  padding: 2rem 0;
}

.grid-imgbx {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.img-wrap {
  width: inherit;
}

.img-wrap img {
  padding: 0.5rem 0;
  width: 100%;
}

.grid-connect {
  margin-top: 1rem;
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}

.grid-back {
  margin-top: 1rem;
  grid-column: 1 / 3;
  grid-row: 6 / 7;
  text-align: right;
}

.grid-back a {
  color: #eeeeee;
  font-size: 1.5rem;
  text-decoration: underline;
}

.connect-wrap {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.connect-wrap > div {
  border-top: 1px solid #eeeeee;
  padding: 0.2rem 0.4rem 0.8rem 0.4rem;
  line-height: 1.5rem;
}

.connect-wrap > div > a {
  color: #eee;
  text-decoration: underline;
}

.connect-wrap > div > a:visited {
  color: #eee;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  font-family: "Noto Sans KR", sans-serif;
  color: #404040;
  background-color: #1d1d1f;
}

/*  */

@media (min-width: 1024px) {
  .local-nav-links {
    display: flex;
    padding-top: 0;
  }

  .product-name {
    text-align: center;
  }

  .local-nav-links > div {
    flex: 1;
  }

  .link-wrap {
    display: block;
  }

  .local-nav-links a {
    font-size: 1.2rem;
  }

  .link-wrap a:not(.works) {
    padding-left: 2em;
  }

  .local-nav-links .product-name a {
    font-size: 2.2rem;
  }

  .local-nav-links .sub-title {
    font-size: 1.3rem;
  }

  .image-box img {
    mix-blend-mode: luminosity;
  }

  .image-box img:hover {
    mix-blend-mode: normal;
  }

  #section02 {
    max-width: 100%;
    background-color: #1d1d1f;
  }

  .info-wrap > div,
  .connect-wrap > div {
    line-height: 2;
    padding-bottom: 2rem;
  }

  .grid-text p {
    font-size: 1.4rem;
  }

  .grid-wrap {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1700px;
    margin: 0 auto;
    color: #eeeeee;
    background-color: #1d1d1f;
    height: 100%;
    padding: 0;
    font-size: 1.2rem;
  }

  .grid-info {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .grid-text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 80%;
    margin: 0 auto;
    padding-top: 0;
  }

  .img-wrap-01,
  .img-wrap-02,
  .img-wrap-03 {
    display: grid;
    grid-column-gap: 1rem;
  }

  .img-wrap-02 {
    grid-template-columns: 96fr 70fr;
  }

  .img-wrap-03 {
    grid-template-columns: 70fr 96fr;
  }

  .img-wrap img {
    width: 100%;
  }

  .grid-connect {
    margin-top: 1rem;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }

  .grid-back {
    margin-top: 1rem;
    grid-column: 2 / 3;
    grid-row: 5 / 6;
  }

  .grid-back a {
    font-size: 3rem;
    padding-right: 2rem;
  }
}

@media (min-width: 600px) {
  .image-wrap {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  .image-wrap {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1700px) {
  .local-nav-links {
    max-width: 1400px;
  }

  .grid-wrap {
    max-width: 1400px;
  }

  #section01 {
    max-width: 1400px;
  }
}

@media (max-width: 1400px) {
  .local-nav-links {
    max-width: 1000px;
  }

  .grid-wrap {
    max-width: 1000px;
  }
  #section01 {
    max-width: 1000px;
  }
}
